<mat-toolbar>
  <mat-toolbar-row class="justify-content-between m-2">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </mat-icon>
    </button>
    <div>
      <img class="imagenSoyYo" src="	https://soyyo.co/udordoaz/2021/04/Group-1186.png" />
    </div>
    <div class="row ">
      <ul class="row m-0 align-items-center">
        <li>
          <app-logout></app-logout>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
