.container-blog-card {
  justify-content: center;
  margin-top: 10%;
  font-family: "Helvetica",Montserrat;

}
.imagenSoyYo{
  padding-bottom: 10px;
}
.blog-card {
  width: 300px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 4em;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);

}
.container-form{
  justify-content: center;
}
.correo, .password {
  padding-top: 10px;
  text-align: left;

}

.btn-soyyo {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  background-color: #5a33ff;
  font-weight: bold;
  color:white;
}
.container-buttom {
  margin:auto;
  padding-top: 10px;
}

